 * {
    font-family: "Owswald", sans-serif;
 }
 
 body {
    --cor2-light: #F0E9FF;
    --roxo-: #50518C;
 }

 .bgPink {
    background-color: var(--cor2-light);
 }

 .bgWhite {
    background-color: var(--cor1-light);
 }

.banner-home {
    max-width: 83vw;
} 

.card-img {
   width: 12rem;
}

.card-img-promo {
   width: 19rem;
}
.btn-roxo {
   background-color: var(--roxo-);
   color: white;
}

@media (max-width: 1370px) {
   .card-img {
     width: 11rem;
   }
 }

@media (max-width: 500px) {
   .card-img {
     width: 7rem;
   }
   .card-img-promo{
      width: 13rem;
   }
 }
